.transBlock {
    margin-top: 25px;
    margin-bottom: 25px;
}
h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}
/*  */
    .homePageArticleAbstract h2 {
    font-size: 32px;
}
    .homePageArticleAbstract h1 {
    font-size: 24px;
}

/* singleArticleContent is the clast in default single page */
    .defualtSingleArticleContent h1 {
    font-size: 40px;
}
    .defualtSingleArticleContent h2 {
    font-size: 30px;
}
    .defualtSingleArticleContent h3 {
    font-size: 24px;
}


.blog-title {
    font-size: 60px;
    font-weight: normal;
    font-family: 'Permanent Marker', cursive;
}
.blog-title-block{
    
}

.colored-nav {
    background-color: #428bca;
}

.colored-nav  a {
    color: white;
}