/* Header section customzied */

.blog-header .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}

.header-image-block {
  max-width: 100%;
  height: 600px;

  background-image: url("/img/cover1_small.jpg");
  /* background-color: lightblue; */
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 5%;
}
/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}

.navbar-dark-trans {
  background: transparent; 
}

.recent-article-list-item {
  padding: 3px;
}

.navbar-brand {
  /* font-family: 'Francois One',sans-serif; */
  font-family: 'Lobster',cursive;
  /* font-family: 'Oswald',sans-serif; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}