.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}



.recent-article-list-item {
  padding: 3px;
}

.navbar-brand {
  /* font-family: 'Francois One',sans-serif; */
  font-family: 'Lobster',cursive;
  /* font-family: 'Oswald',sans-serif; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}